

.context__btn{
    cursor:pointer;

    border:none;
    
    background-color: var(--background);

    font-weight: 600;

    letter-spacing: 4px;
}

.menuContainer{
    position: absolute;
    z-index:1004;
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px var(--shadow);
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.item{
    all:unset;
    width:100%;
    padding:0.6rem;
}

.item:hover{
    background-color: var(--primary);
    color:var(--onPrimary)
}



/*



.menuContainer{
    position: absolute;
    z-index:1004;
    background-color:white;
    box-shadow: 2px 2px 6px var(--shadow-color) ;
}

.item{
    transition: ease-in-out;
    transition-duration: 200ms;
    width:100%;
    height: 20px;
    padding: 4px 0px;
    
}

.item:hover{
    background-color: var(--call-to-action);
    color:white;
}
*/