

.context__btn{
    cursor:pointer;

    border:none;
    
    background-color: var(--background);

    font-weight: 600;

    letter-spacing: 4px;

    position: relative;
}
.parent{
    background-color: aqua;
    position: relative;
}
.menuContainer{
    position: absolute;
    z-index:1004;
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px var(--shadow);
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.item{
    all:unset;
    width:100%;
    padding:0.6rem;
}

.item:hover{
    background-color: var(--primary);
    color:var(--onPrimary)
}


