
.btnContainer{

    padding-top: 10px;
    padding-bottom: 20px;
    width:48px;
    text-align: center;
}


.menuContainer{

    z-index:1004;
    position:absolute;
    background-color:white;
    border-radius: 4px;
    min-width: 80px;
    box-shadow: 2px 2px 6px var(--shadow-color) ;
    
}

.item{
    transition: ease-in-out;
    transition-duration: 200ms;
    width:100%;
    height: 20px;
    padding: 4px 0px;
    
}

.item:hover{
    background-color: teal;
    color:white;
    
}