
/*
.context__btn{
    cursor:pointer;
    padding-top: 40%;
    padding-bottom: 60%;
    width:48px;
    text-align: center;
}

.menuContainer{
    position: absolute;
    z-index:1004;
    background-color:white;
    box-shadow: 2px 2px 6px var(--shadow-color) ;
}

.item{
    width:100%;
}

.item:hover{
    background-color: var(--call-to-action);
    color:white;
}
*/


/*

.context__btn{
    cursor:pointer;
    padding-top: 40%;
    padding-bottom: 60%;
    width:48px;
    text-align: center;
}

.menuContainer{
    position: absolute;
    z-index:1004;
    background-color:white;
    box-shadow: 2px 2px 6px var(--shadow-color) ;
}

.item{
    transition: ease-in-out;
    transition-duration: 200ms;
    width:100%;
    height: 20px;
    padding: 4px 0px;
    
}

.item:hover{
    background-color: var(--call-to-action);
    color:white;
}
*/