
.container{
  display: grid;
  background-color: var(--background);
  margin: var(--content__padding-row) var(--inner__padding-col);
  grid-template-columns: 1fr 1fr 1fr 4rem;
  grid-template-rows: auto;
}

.child__name{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  margin-left: var(--content__padding-col);
}

.child__phone{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.child__company{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.center{
  padding: 1.5rem 0px;
}


.child__options{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.text__primary{
  text-align: left;
  font-weight: 500;
}
.text__secondary{
  color:var(--secondary);
  text-align: left;

}

.options{
  cursor: pointer;

}
  