:root{
    --dark-gray: #4A4A4A;
    --light-gray: #828282;
    --lighter-gray: #dadada;
    --shadow-color:rgba(0,0,0,0.1);
    --dark-white: rgb(230, 230, 230);
    --call-to-action:  #515ada;
    --warning:  rgb(221, 33, 33);
    --title-font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1920 - 300)));
    --link-font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1920 - 300)));
    --normal-font-size:  calc(8px + (16 - 8) * ((100vw - 300px) / (1920 - 300)));
}

html{
  background: #cfd9df;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cfd9df, #e2ebf0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cfd9df, #e2ebf0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto', sans-serif;
  color: var(--dark-gray);
}

/*==========
 SCROLLBAR 
==========*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-white);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lighter-gray)
}

/*==========
  BUTTONS
==========*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn{
    border-radius: 2px;
    float:right;
    font-size: var(--normal-font-size);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    margin-bottom: 1vw;
    margin-right: 4vw;
  }

  .btn--primary{
    background-color:var(--call-to-action);
    color:white;
  }

 .btn--delete{
    background-color:var(--warning);
    color: white
  }

  .btn--secondary{
    background-color:var(--dark-white); 
    color: var(--dark-gray);
  }

  .btn--inactive{
    cursor:default;
    background-color:var(--dark-gray); 
    color: var(--light-gray);
  }

/*==========
  OVERLAY
==========*/

  .overlay{
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    z-index:1001;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }

/*==========
  UTILITY
==========*/

  .transparent{
    background-color: transparent;
  }