
/*============
  GLOBAL VARS
============*/
:root{
  /* COLORS*/
    --gradient1:#cfd9df;
    --gradient2:#e2ebf0;
    --background:white;
    --background-variant:rgba(255,255,255,0.7);
    --primary:  #515ada;
    --primary-variant:  #32388f;
    --secondary:  #969696;
    --secondary-variant:  #707070;

    --textField:rgb(226, 226, 226);
    --textField-hover:rgb(211, 211, 211);
    --textField-focus:rgb(168, 168, 168);
    --disabled:  #cfcfcf;
    --onDisabled:  #a3a3a3;
    --onPrimary:white;
    --onSecondary:white;
    --onError:white;
    --onBackground:rgb(48, 48, 48);
    --error:  rgb(221, 33, 33);
    --shadow:rgba(0,0,0,0.1);
    --transparent:rgba(0,0,0,0.0);

    /* SIZING - LAYOUT */
    --outer__margin-col: 14vw;
    --outer__margin-row: 10vh;
    --inner__padding-col: 3rem;
    --inner__padding-row: 2.5rem;
    --header__height: 8rem;
    --main__minHeight: 300px;
    --main__minWidth: 300px;
    --main__maxHeight: calc(
      100vh - (2*var(--outer__margin-row) + 2*(var(--inner__padding-row)))
    );


    /* SIZING - CONTENT*/
    --content__maxHeight: calc(
      100vh - ( var(--header__height) + (var(--outer__margin-row) + 2*(var(--inner__padding-row))))
    );
    --content__padding-row: 1rem;
    --content__padding-col: 2rem;
}

html{
  background: var(--gradient1);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,var(--gradient1), var(--gradient2));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,var(--gradient1), var(--gradient2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-gray);
  
}
h1{
  margin:0px;
  padding:0px;
}
ul, li{
  list-style-type: none;
}
/*==========
 SCROLLBAR 
==========*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--transparent);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-variant)
}

/*==========
  BUTTONS
==========*/

.btn{
    all:unset;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .btn--primary{
    background-color:var(--primary);
    color:var(--onPrimary);
  }
  .btn--primary:hover{
    background-color:var(--primary-variant);

  }

 .btn--delete{
    background-color:var(--error);
    color:var(--onError);
  }

  .btn--secondary{
    background-color:var(--background);
    border-style: solid; 
    border-width: 0.1rem;
    border-spacing: -0.1rem;
    border-color: var(--secondary);
    color: var(--secondary);
  }
  .btn--secondary:hover{
    background-color:var(--secondary);

    color: var(--onSecondary);
  }

  .btn--inactive{
    cursor:default;
    background-color:var(--disabled);
    color:var(--onDisabled);
  }

/*==========
  OVERLAY
==========*/

  .overlay{
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    z-index:1001;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }


/*==========
  UTILITY
==========*/

  .transparent{
    background-color: transparent;
  }

  .card{
    /*overflow hidden makes sure children don't override border-radius*/
    overflow:hidden;
    box-shadow: 2px 2px 10px 1px var(--shadow);
    border-radius: 4px;
    padding:0px;
    margin:0px;
  }