:root{
    --dark-gray: #4A4A4A;
    --light-gray: #828282;
    --dark-white: rgb(230, 230, 230);
    --call-to-action:  #515ada;
    --title-font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1920 - 300)));
    --link-font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1920 - 300)));
    --normal-font-size:  calc(8px + (16 - 8) * ((100vw - 300px) / (1920 - 300)));
}

html{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-gray);
}

.customButton_primary{
    background-color:var(--call-to-action);
    border-radius: 2px;
    color:white;
    float:right;
    font-size: var(--normal-font-size);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    margin-bottom: 1vw;
    margin-right: 4vw;
  }

  .customButton_secondary{
    background-color:var(--dark-white); 
    border-radius: 2px;
    color: var(--dark-gray);
    float:right;
    font-size: var(--normal-font-size);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    margin-bottom: 1vw;
    margin-right: 4vw;
  }
 .btn-delete{
    background-color:darkred; 
    color: white
  }

.inputFieldContainer{
    background-color: transparent;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.inputField{
    width:12vw;
    font-size: var(--normal-font-size);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:var(--dark-white);
    border: none;
    border-bottom: 1px solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 1vw;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .inputField:hover{

    background-color:var(--lighter-gray);

  }