/*==========
  OUTER LAYOUT
==========*/
.outer__gridParent {
  display:grid;
  grid-template-columns: var(--outer__margin-col) minmax(max-content, auto) var(--outer__margin-col);
  grid-template-rows: var(--outer__margin-row) 1fr var(--outer__margin-row);
}

.outer__gridChild {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding:0px;
  margin:0px;
}


/*==========
  INNER LAYOUT
==========*/
.inner__gridParent {
  display:grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 0px auto 0px;
  grid-template-rows: 0px var(--header__height) 1fr 0px;
}


.inner__gridChild__header{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  padding:0px;
  margin:0px;
}

.inner__gridChild__content{
  background-color: var(--background-variant);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  padding:0px;
  margin:0px;
  overflow-y:scroll;
  overflow-x: hidden;
}

