
.container{
  background-color: var(--background);
  color: var(--onBackground);
  height:min-content;
  width: 1fr;
  padding-top: var(--inner__padding-row);
  padding-left: var(--inner__padding-col);
  padding-right: var(--inner__padding-col);
  padding-bottom: 0px;
}

.title{
  font-weight: 600;
  letter-spacing: 2px;
}

.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.li{ 

  float: left;

}

.a{
  transition: all 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  color:var(--onBackground);
  text-align: center;
  padding-bottom: calc(var(--content__padding-row) / 2);
  padding-top: calc(var(--content__padding-row) / 2);
  margin-right: var(--content__padding-col);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--transparent);
}

.a:hover{
  border-bottom: 0.1rem solid var(--onBackground);
}
.a__active{
  border-bottom: 0.1rem solid var(--onBackground);
  font-weight: 500;
  
}

.btn__container{
  float: right;
}

