.contactForm {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: white;
    padding: 8px;
    right: 8px;

    > button {
        display: none;
    }

    input {
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        height: 24px;
        width: 150px;
        border-radius: 5px;
        border: 1px solid lightgrey;
    }

}