.listItem {
    display: flex;
    background: grey;
    height: 80px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    margin-bottom: 16px;
}

.contactData {
    color: white;
}