


.container{
  position: absolute;
  left: 40%;
  margin-top:4vw;
  border-radius: 8px;
  padding: 2vw;
  background-color:#fff;
  opacity:1.0;
  z-index:1004;
  display:flex;
  flex-direction: column;
  text-align:center;
}

.buttonContainer{
  background-color: transparent;
  display: flex;
  flex-direction: row;  
}

.warning{
  color:red;
}

