


.parent {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:300px;
  height:max-content;
  border-radius: 8px;
  background-color: var(--background);
  opacity:1.0;
  z-index:1004;
  display:flex;
  flex-flow: column;
  padding: 1rem 1.5rem;
}

.item{
  padding: 1rem 0.2rem;
  display:flex;
  flex-flow: column;
}

.label{
  font-size: 0.8rem;
  font-weight: 500;
  color:var(--secondary);
}

.label:focus{

  color:var(--primary);
}

.input{
  color: var(--secondary-variant);
  border-style: none;
  font-size:1rem;
  background-color: var(--textField);
  height:2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--secondary-variant);
  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.4rem;
}

.input:hover{
  outline: none;
  background-color: var(--textField-hover);
}

.input:focus{
  color: var(--onBackground);
  outline: none;
  background-color: var(--textField-focus);
}

.btnContainer{
  float:right;
  padding: 0.5rem;
}