
.container{
  color: var(--onBackground);
  max-height: var(--content__maxHeight);
  width: 100%;
  padding-left:var(--inner__padding-col);
  margin:0px;
}

/*
.container {
    background-color: rgba(255,255,255,0.7);
    overflow-y:scroll;
  }
  */